.home-wrap {
  display: flex;
  align-items: center;
  height: 100vh;
  padding-left: 70px;
  width: 100vw;
  .content {
    text-shadow: 0 0 10px var(--pink-heavy), 0 0 10px var(--pink-heavy),
      0 0 10px var(--pink-heavy);
    .content-title {
      display: flex;
      align-items: center;
      font-size: 52px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .content-description {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
